I want to design a webpage using html, css and js which I can host on githib pages. The webpage will contain a a feed of embedded facebook posts. make it look anice and attractrive. generate the ui for the pge