body {
    font-family: sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

#feed {
    display: grid;
    /* Updated grid-template-columns to display posts in a single column */
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 20px;
}

.post {
    border: 0px solid #ccc;
    padding: 20px;
}